.box {
	position: relative;
	margin: 0 auto;
	width: 10.0rem;
	height: 7.466667rem;

	// background-color: red;
	.head-bg {
		position: relative;
		height: 4.2rem;
		
		// width: 10.0rem;
		background-image: url('../img/bj.jpeg');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		.title {
			height: 0.48rem;
			background-color: red;
		}
		.place {
			height: 0.853333rem;
		}
		.weather-box {
			position: relative;
			height: 4.2-0.48-0.853333rem;
			// width: 5.0rem;
			background: #222;
			color: #fff;
			.weather {
				height: 0.626667rem;
				width: 0.893333rem;
				font-size: 20px;
				text-align: center;
			}
			.temp {
				position: relative;
				// margin-left: 10px;
				text-align: center;
				width: 1.6rem;
				height: 0.946667rem;
				font-size: 50px;
				background-color: red;
			}
			.more {
				position: absolute;
				top: 0.626667rem;
				left: 1.6rem;
				height: 0.946667rem;
				width: 5rem;
				// background-color: #fff;
				.max_min {
					height: 0.533333rem;
					text-align: left;
					// text-align: 0.53rem;
				}
			}
		}
	}
}
