.box {
	position: relative;
	margin: 0 auto;
	width: 10.0rem;
	max-width: 800px;
	max-height: 1000px;
	height: 6.2rem;
	.head-bg {
		position: relative;
		height: 6.2rem;

		background-image: url('../img/bj.jpg');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		.title {
			height: 0.48rem;

		}
		.place {
			color: #DB4D6D;
			font-size: 100px;
			text-align: center;	
			height: 1.853333rem;
		}
		.place:hover {
			color:#9E7A7A;
		}
		.weather-box {
			position: relative;
			height: 6.2-0.48-1.853333rem;
			color: #fff;
			.weather {
				height: 0.626667rem;
				width: 0.893333rem;
				font-size: 20px;
				text-align: center;
			}
			.temp {
				position: relative;
				text-align: center;
				line-height: 2rem;
				width: 2.6rem;
				height: 1.946667rem;
				font-size: 120px;
				color: #77428D;
			}
			.more {
				position: absolute;
				top: 1.226667rem;
				left:2.6rem;
				height: 1.946667rem;
				width: 5rem;
				.max_min {
					height: 0.533333rem;
					text-align: left;

				}
			}
		}
	}
}

.contanier {
	position: relative;
	margin: 0 auto;
	width: 10.0rem;
	// max-width: 800px;
	// max-height: 800px;
	height: 7.466667rem;
	.ul1 {
		position: relative;
		margin: 0 auto;
		height: 1rem;
		// float: left;
		text-align:center;
		line-height: 110px;
		color: #91AD70;
		max-width: 800px;
		max-height: 500px;
		li {
			float: left;
			width: 1.42rem;
			max-width: 110px;
			max-height: 50px;
		}
	}
	.ul2 {
		position: relative;
		margin: 0 auto;
		height: 0.7rem;
		// float: left;
		max-width: 800px;
		max-height: 500px;
		text-align:center;
		color: #2EA9DF;
		li {
			float: left;
			width: 1.42rem;
			max-width: 110px;
		}

	}
	.ul3 {
		position: relative;
		margin: 0 auto;
		height: 0.8rem;
		width: 10rem;
		max-width: 800px;
		// float: left;
		text-align:center;
		color: #2EA9DF;
		li {
			float: left;
			height: 0.8rem;
			width: 1.427rem;
			max-height: 90px;
			max-width: 114.27px;
		}
	}
	ul,li:after{
		clear: both;
		}
	.canmax {
		position: relative;
		margin: 0 auto;
		// top: 2rem;
		height: 1rem;
		width: 10.0rem;
		max-width: 800px;
	}
	.canmin {
		position: relative;
		margin: 0 auto;
		height: 1rem;
		width: 10.0rem;
		max-width: 800px;
	}
}



