.box {
  position: relative;
  margin: 0 auto;
  width: 10.0rem;
  height: 6rem;
}
.box .head-bg {
  position: relative;
  height: 6.2rem;
  background-image: url('../img/bj.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.box .head-bg .title {
  height: 0.48rem;
}
.box .head-bg .place {
  height: 1.853333rem;
}
.box .head-bg .weather-box {
  position: relative;
  height: 4.866667rem;
  color: #fff;
}
.box .head-bg .weather-box .weather {
  height: 0.626667rem;
  width: 0.893333rem;
  font-size: 20px;
  text-align: center;
}
.box .head-bg .weather-box .temp {
  position: relative;
  text-align: center;
  line-height: 2rem;
  width: 2.6rem;
  height: 1.946667rem;
  font-size: 100px;
}
.box .head-bg .weather-box .more {
  position: absolute;
  top: 1.226667rem;
  left: 2.6rem;
  height: 1.946667rem;
  width: 5rem;
}
.box .head-bg .weather-box .more .max_min {
  height: 0.533333rem;
  text-align: left;
}
.contanier {
  position: relative;
  margin: 0 auto;
  width: 10.0rem;
  height: 7.466667rem;
}
.contanier .ul1 {
  position: relative;
  height: 1rem;
  float: left;
  text-align: center;
  line-height: 110px;
  color: #91AD70;
}
.contanier .ul1 li {
  float: left;
  width: 1.42rem;
}
.contanier .ul2 {
  position: relative;
  height: 0.7rem;
  float: left;
  text-align: center;
  color: #2EA9DF;
}
.contanier .ul2 li {
  float: left;
  width: 1.42rem;
}
.contanier .ul3 {
  position: relative;
  height: 0.8rem;
  width: 10rem;
  float: left;
  text-align: center;
  color: #2EA9DF;
}
.contanier .ul3 li {
  float: left;
  height: 0.8rem;
  width: 1.42rem;
}
.contanier ul,
.contanier li:after {
  clear: both;
}
.contanier .canmax {
  position: absolute;
  top: 2rem;
  height: 1rem;
  width: 10.0rem;
}
.contanier .canmin {
  position: absolute;
  top: 3rem;
  height: 1rem;
  width: 10.0rem;
}
